apiVersion: anywhere.eks.amazonaws.com/v1alpha1
kind: Cluster
metadata:
  name: {{ cluster_name }}
spec:
  clusterNetwork:
    cniConfig:
      cilium: {}
    pods:
      cidrBlocks:
      - 192.168.0.0/16
    services:
      cidrBlocks:
      - 10.96.0.0/12
  controlPlaneConfiguration:
    count: 1
  datacenterRef:
    kind: {{ eksa_provider | capitalize }}DatacenterConfig
    name: {{ cluster_name }}
  externalEtcdConfiguration:
    count: 1
  kubernetesVersion: "{{ kubernetes_version }}"
  managementCluster:
    name: {{ cluster_name }}
  workerNodeGroupConfigurations:
  - count: 1
    name: md-0
  # Add storage configuration
  storage:
    storageClass:
      name: standard
      default: true
    csiDriver:
      name: local-path-provisioner
      namespace: local-path-storage

---
apiVersion: anywhere.eks.amazonaws.com/v1alpha1
kind: {{ eksa_provider | capitalize }}DatacenterConfig
metadata:
  name: {{ cluster_name }}
spec: {}